body {
  font-family: sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}
section {
  display: grid;
  grid-template-rows: 50px 150px 500px 500px 500px;
  grid-template-columns: 280px repeat(3, 1fr);
  grid-template-areas:
    "nav nav nav nav"
    "side body body body"
    "side body body body"
    "side body body body"
    "side body body body";
}
.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 3;
}
.nav .left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 30px;
  margin-left: 20px;
}
.nav .left #bars {
  font-size: 15px;
}
.nav .left #logo {
  color: red;
}
.nav .left p {
  font-size: 20px;
  font-weight: bold;
}

.nav .mid {
  display: flex;
  align-items: center;
}
.nav .search {
  position: relative;
}
.nav .mid input {
  width: 450px;
  padding: 10px;
  border: none;
  border: 1px solid grey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: black;
  color: white;
  font-size: 15px;
}
.nav .mid input:focus {
  outline: none;
}
.nav .mid #mag {
  padding: 10px;
  padding-bottom: 11px;
  border-top-right-radius: 30px;
  border: 1px solid grey;
  border-bottom-right-radius: 30px;
  position: absolute;
  background-color: #333336;
  color: white;
}
.nav .mid #mic {
  position: absolute;
  border: 1px solid grey;
  right: 32%;
  font-size: 22px;
  width: 20px;
  background-color: #333336;
  color: white;
  padding: 10px;
  border-radius: 30px;
}
.nav .right {
  display: flex;
  font-size: 25px;
  gap: 30px;
  margin-right: 20px;
}
.side {
  grid-area: side;
  border: 2px solid black;
  width: 250px;
  position: fixed;
  overflow-y: auto;
  top: 60px;
  bottom: 0;
}
.side::-webkit-scrollbar {
  display: none;
}
.div1 {
  height: 150px;
  border-bottom: 1px solid grey;
  margin: 5px;
}
.div1 .row1,
.div1 .row2,
.div1 .row3 {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}
.div1 .row1 a {
  font-size: 15px;
  margin: 0;
  margin-left: 50px;
  text-decoration: none;
  color: white;
}
.div1 .row2 a,
.div1 .row3 a {
  font-size: 15px;
  margin: 0;
  margin-left: 60px;
  text-decoration: none;
  color: white;
}
.div1 .row1 i,
.div1 .row2 i,
.div1 .row3 i {
  font-size: 15px;
  position: absolute;
  left: 5%;
}
#selected {
  background-color: rgb(42, 42, 42);
  padding: 10px;
  border-radius: 15px;
  color: white;
}
.div2 {
  height: 210px;
  border-bottom: 1px solid grey;
  margin: 5px;
}
.div2 .row1,
.div2 .row2,
.div2 .row3,
.div2 .row4,
.div2 .row5,
.div2 .row6 {
  position: relative;
  margin-left: 20px;
}
.div2 .row2 p,
.div2 .row3 p,
.div2 .row4 p,
.div2 .row5 p,
.div2 .row6 p {
  margin-left: 40px;
}
.div2 .row1 a {
  text-decoration: none;
  color: white;
}
.div2 .row1 a i {
  position: absolute;
  top: 0%;
  left: 20%;
}
.div2 .row2 i,
.div2 .row3 i,
.div2 .row4 i,
.div2 .row5 i,
.div2 .row6 i {
  position: absolute;
  top: 0%;
  left: 0%;
}
.div3 {
  height: 430px;
  border-bottom: 1px solid grey;
  margin: 5px;
}

.div3 h4 {
  margin-left: 30px;
}
.div3 .channel1,
.div3 .channel2,
.div3 .channel3,
.div3 .channel4,
.div3 .channel5,
.div3 .channel6,
.div3 .channel7,
.div3 .channel8,
.div3 .channel9,
.div3 .channel10,
.div3 .more {
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}
.div3 .channel1 i,
.div3 .channel2 i,
.div3 .channel3 i,
.div3 .channel4 i,
.div3 .channel5 i,
.div3 .channel6 i,
.div3 .channel7 i,
.div3 .channel8 i,
.div3 .channel9 i,
.div3 .channel10 i {
  position: absolute;
  top: -10%;
  border: 1px solid grey;
  padding: 3px;
  border-radius: 30px;
}
.div3 .more i {
  position: absolute;
  top: 10%;
}
.div3 .channel1 p,
.div3 .channel2 p,
.div3 .channel3 p,
.div3 .channel4 p,
.div3 .channel5 p,
.div3 .channel6 p,
.div3 .channel7 p,
.div3 .channel8 p,
.div3 .channel9 p,
.div3 .channel10 p,
.div3 .more p {
  margin-left: 30px;
}
.div4 {
  height: 320px;
  border-bottom: 1px solid grey;
  margin: 5px;
}
.div4 h4 {
  margin-left: 30px;
}
.div4 .row1,
.div4 .row2,
.div4 .row3,
.div4 .row4,
.div4 .row5,
.div4 .row6,
.div4 .row7,
.div4 .row8 {
  position: relative;
}
.div4 .row1 i,
.div4 .row2 i,
.div4 .row3 i,
.div4 .row4 i,
.div4 .row5 i,
.div4 .row6 i,
.div4 .row7 i,
.div4 .row8 i {
  position: absolute;
  margin-left: 15px;
}
.div4 .row1 p,
.div4 .row2 p,
.div4 .row3 p,
.div4 .row4 p,
.div4 .row5 p,
.div4 .row6 p,
.div4 .row7 p,
.div4 .row8 p {
  margin-left: 45px;
}
.div5 {
  height: 90px;
  border-bottom: 1px solid grey;
  margin: 5px;
  position: relative;
}
.div5 h4 {
  margin-left: 30px;
}
.div5 i {
  position: absolute;
  left: 15px;
}
.div5 p {
  margin-left: 45px;
}
.div5 .div6 {
  height: 500px;
  border-bottom: 1px solid grey;
  margin: 5px;
}
.body {
  grid-area: body;
  margin-top: 20px;
  margin-bottom: 40px;
}
.body .algo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: sticky;
  top: 50px;
  background-color: black;
  z-index: 2;
  padding: 10px;
}
.body .algo div {
  width: auto;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 10px;
  text-align: center;
}
.body .algo .selected {
  background-color: white;
  color: black;
}
.videos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(2, 350px);
  grid-template-areas:
    "video1 video2 video3 video4 video5"
    "video6 video7 video8 video9 video10";
  gap: 20px;
}
.videos .video1 {
  grid-area: video1;
  position: relative;
}
.videos .video2 {
  grid-area: video2;
  position: relative;
}
.videos .video3 {
  grid-area: video3;
  position: relative;
}
.videos .video4 {
  grid-area: video4;
  position: relative;
}
.videos .video5 {
  grid-area: video5;
  position: relative;
}
.videos .video6 {
  grid-area: video6;
  position: relative;
}
.videos .video7 {
  grid-area: video7;
  position: relative;
}
.videos .video8 {
  grid-area: video8;
  position: relative;
}
.videos .video9 {
  grid-area: video9;
  position: relative;
}
.videos .video10 {
  grid-area: video10;
  position: relative;
}
.videos .video1 img,
.videos .video2 img,
.videos .video3 img,
.videos .video4 img,
.videos .video5 img,
.videos .video6 img,
.videos .video7 img,
.videos .video8 img,
.videos .video9 img,
.videos .video10 img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.videos .video1 i,
.videos .video2 i,
.videos .video3 i,
.videos .video4 i,
.videos .video5 i,
.videos .video6 i,
.videos .video7 i,
.videos .video8 i,
.videos .video9 i,
.videos .video10 i {
  font-size: 25px;
  left: 0%;
  bottom: 27%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 30px;
}
.videos .video1 h3,
.videos .video2 h3,
.videos .video3 h3,
.videos .video4 h3,
.videos .video5 h3,
.videos .video6 h3,
.videos .video7 h3,
.videos .video8 h3,
.videos .video9 h3,
.videos .video10 h3 {
  position: absolute;
  left: 19%;
  bottom: 22%;
  font-size: 18px;
}
.videos .video1 .info .channel,
.videos .video2 .info .channel,
.videos .video3 .info .channel,
.videos .video4 .info .channel,
.videos .video5 .info .channel,
.videos .video6 .info .channel,
.videos .video7 .info .channel,
.videos .video8 .info .channel,
.videos .video9 .info .channel,
.videos .video10 .info .channel {
  position: absolute;
  bottom: 17%;
  left: 18%;
}
.videos .video1 .info .views,
.videos .video2 .info .views,
.videos .video3 .info .views,
.videos .video4 .info .views,
.videos .video5 .info .views,
.videos .video6 .info .views,
.videos .video7 .info .views,
.videos .video8 .info .views,
.videos .video9 .info .views,
.videos .video10 .info .views {
  position: absolute;
  bottom: 10%;
  left: 18%;
}
.videos .video1 .info p,
.videos .video2 .info p,
.videos .video3 .info p,
.videos .video4 .info p,
.videos .video5 .info p,
.videos .video6 .info p,
.videos .video7 .info p,
.videos .video8 .info p,
.videos .video9 .info p,
.videos .video10 .info p {
  position: absolute;
  bottom: 10%;
  left: 52%;
}
.videos .video1 .info i,
.videos .video2 .info i,
.videos .video3 .info i,
.videos .video4 .info i,
.videos .video7 .info i,
.videos .video8 .info i,
.videos .video9 .info i,
.videos .video10 .info i {
  position: absolute;
  font-size: 5px;
  bottom: 14%;
  left: 42%;
  border: none;
}
.videos .video5 .info i,
.videos .video6 .info i {
  position: absolute;
  font-size: 5px;
  bottom: 14%;
  left: 43.5%;
  border: none;
}
