body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42vw;
  height: 80vh;
  grid-area: 20px;
  padding: 20px;
  background-color: rgb(178, 179, 182);
  border-radius: 30px;
  position: relative;
}
.display {
  width: 40vw;
  height: 100px;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(62, 62, 62);
  border-radius: 100px;
  color: rgb(240, 172, 82);
  font-size: 50px;
  position: absolute;
  top: 30px;
}
.row1,
.row2,
.row3,
.row4 {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
.row1 {
  position: absolute;
  top: 140px;
}
.row2 {
  position: absolute;
  top: 250px;
}
.row3 {
  position: absolute;
  top: 360px;
  left: 33px;
}
.row4 {
  position: absolute;
  left: 30px;
  top: 470px;
}
button {
  width: 100px;
  height: 100px;
  background-color: rgb(240, 172, 82);
  border-radius: 100px;
  color: black;
  font-size: 30px;
  cursor: pointer;
  border: none;
}
.op {
  background-color: black;
  color: rgb(240, 172, 82);
}
.opeq {
  height: 210px;
  background-color: black;
  color: rgb(240, 172, 82);
  position: absolute;
  bottom: 0;
  right: -133px;
}
button:hover {
  color: white;
}
