body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1920px) {
  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 550px;
    grid-area: 20px;
    padding: 20px;
    background-color: rgb(178, 179, 182);
    border-radius: 30px;
    position: relative;
  }
  .display {
    max-width: 30vw;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(62, 62, 62);
    border-radius: 100px;
    color: rgb(240, 172, 82);
    font-size: 50px;
    position: absolute;
    top: 30px;
    text-align: right;
  }
  .row1,
  .row2,
  .row3,
  .row4 {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    max-width: 30vw;
    width: auto;
  }
  .row1 {
    position: absolute;
    top: 140px;
  }
  .row2 {
    position: absolute;
    top: 250px;
  }
  .row3 {
    position: absolute;
    top: 360px;
    left: 25px;
    max-width: 23vw;
    width: auto;
  }
  .row4 {
    position: absolute;
    left: 25px;
    top: 470px;
    max-width: 23vw;
    width: auto;
  }
  button {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 172, 82);
    border-radius: 100px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border: none;
  }
  .op {
    background-color: black;
    color: rgb(240, 172, 82);
  }
  .opeq {
    height: 210px;
    background-color: black;
    color: rgb(240, 172, 82);
    position: absolute;
    right: -80px;
    bottom: 0;
    width: 60px;
  }
  button:hover {
    color: white;
  }
}

@media (max-width: 900px) {
  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 550px;
    grid-area: 20px;
    padding: 20px;
    background-color: rgb(178, 179, 182);
    border-radius: 30px;
    position: relative;
  }
  .display {
    max-width: 70vw;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(62, 62, 62);
    border-radius: 100px;
    color: rgb(240, 172, 82);
    font-size: 50px;
    position: absolute;
    top: 30px;
    text-align: right;
  }
  .row1,
  .row2,
  .row3,
  .row4 {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    max-width: 70vw;
    width: auto;
  }
  .row1 {
    position: absolute;
    top: 140px;
  }
  .row2 {
    position: absolute;
    top: 250px;
  }
  .row3 {
    position: absolute;
    top: 360px;
    left: 20px;
    max-width: 56vw;
    width: auto;
  }
  .row4 {
    position: absolute;
    left: 20px;
    top: 470px;
    max-width: 56vw;
    width: auto;
  }

  .opeq {
    height: 210px;
    background-color: black;
    color: rgb(240, 172, 82);
    position: absolute;
    width: 80px;
    bottom: 0;
    right: -100px;
  }
}
@media (max-width: 500px) {
  .calculator {
    width: 85vw;
  }
  .display {
    max-width: 85vw;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(62, 62, 62);
    border-radius: 100px;
    color: rgb(240, 172, 82);
    font-size: 50px;
    position: absolute;
    top: 30px;
    text-align: right;
  }
  .row1,
  .row2,
  .row3,
  .row4 {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    max-width: 90vw;
    width: auto;
  }
  .row1 {
    position: absolute;
    top: 140px;
  }
  .row2 {
    position: absolute;
    top: 250px;
  }
  .row3 {
    position: absolute;
    top: 360px;
    left: 10px;
    max-width: 72vw;
    width: auto;
  }
  .row4 {
    position: absolute;
    left: 10px;
    top: 470px;
    max-width: 72vw;
    width: auto;
  }

  .opeq {
    height: 210px;
    background-color: black;
    color: rgb(240, 172, 82);
    position: absolute;
    width: 55px;
    bottom: 0;
    right: -70px;
  }
}
